<div class="login-status-header">
    <div *ngIf="this.oktaAuth.authStateManager._authState?.isAuthenticated!" class="login-status-user-info" color="#D31DCD">
        Welcome Back, {{this.storage2.getItem('name')}}!
    </div>
    
    <button *ngIf="!this.oktaAuth.authStateManager._authState?.isAuthenticated" routerLink="/login" class="security-btn">Login</button>
    <button *ngIf="this.oktaAuth.authStateManager._authState?.isAuthenticated" (click)="logout()" class="security-btn">Logout</button>
    <button *ngIf="this.oktaAuth.authStateManager._authState?.isAuthenticated" routerLink="/members" class="security-btn ml-1">Member</button>
    <button *ngIf="this.oktaAuth.authStateManager._authState?.isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Orders</button>
    
    
</div>
