<div class="detail-section">
    <div class="container-fluid">
        <img src="{{ product.imageUrl }}" class="detail-img">
        <h3>{{ product.name }}</h3>
        <div class = "price"> {{product.unitPrice | currency: 'USD' }} </div>
        <div class = "inv"> Amount in Stock: {{product.unitsInStock }} </div>

        <div *ngIf="this.product.unitsInStock > 0">

        <button (click)="addToCart()" class = "btn btn-primary btn-sm">Add to cart</button>
        </div>
        <div *ngIf="this.product.unitsInStock < 1">
          This item is out of stock.
        </div>

        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
